nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    title {
        float: left;
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
      }
      .logout{
        p {
          display: inline;
          color: #666;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: larger;
        }
     
        margin-top: 9px;
        float: right;
      }
  }
  

  
  
  

  
 