.search-container {
    border: 0;
    margin: 10px;

    .add-article-container{
        display: inline;
        input{
            width: 50%;
            height: 50px;
        }
        .btn{
            margin-top: 9px;
            float: right;   
        }
    }
  }